<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @map.name %>
</p>

<p>
  <strong>Model file:</strong>
  <%= @map.model_file %>
</p>

<p>
  <strong>Texture file:</strong>
  <%= @map.texture_file %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
